@import url("https: //cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
/* applies to everything */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  background-color: white;
  color: black;
}

body #menu {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-left: 25px;
}

body main {
  margin: 30px;
}

body main .header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10;
  margin: 10;
  font-size: 3vw;
}

body main #h1 {
  width: 35%;
  background-color: #F2EFE6;
  position: relative;
  text-align: center;
  display: block;
}

body main #hello {
  position: relative;
  top: 40%;
}

body main #h2 {
  width: 65%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  position: relative;
}

body main #mark {
  position: relative;
  top: 40%;
  left: 5%;
  color: white;
}

body main .parallax {
  /* The image used */
  background-image: url("parallax.jpeg");
  /* Full height */
  max-height: 30vh;
  min-width: 100%;
  display: block;
  text-align: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body main .markwho {
  position: relative;
  opacity: .5;
  vertical-align: middle;
  font-size: 4vw;
  top: 45%;
  color: red;
}

body main .introblock {
  background-color: red;
  display: block;
  padding: 10;
  margin: 10;
  height: auto;
}

body main .intro {
  background-color: #F2EFE6;
  display: block;
  text-align: right;
  padding-top: 30px;
  height: auto;
  top: 50%;
  text-align: center;
  font-size: 3vw;
}

body main .introparagraph {
  background-color: #F2EFE6;
  display: block;
  text-align: justify;
  padding: 30px;
  height: auto;
  top: 50%;
  font-size: 2vw;
}

body main .skillset {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10;
  font-size: 1rem;
  padding: 10;
  width: 100%;
}

body main #skills {
  width: 40%;
  background-color: red;
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  height: auto;
  font-size: 3vw;
}

body main #tech {
  width: 60%;
  background-color: black;
  display: block;
  text-align: left;
  padding: 50px;
  position: relative;
  color: white;
  font-size: 1.5vw;
}

body main .projectinfo {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10;
  font-size: 1.5vw;
  padding: 10;
}

body main #projectdetails {
  width: 60%;
  background-color: #F2EFE6;
  position: relative;
  text-align: left;
  display: -ms-grid;
  display: grid;
  height: auto;
}

body main #projects {
  width: 40%;
  background-color: red;
  display: block;
  text-align: left;
  padding: 50px;
  position: relative;
  color: white;
  height: auto;
}

body main .aboutme {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10;
  font-size: 1rem;
  padding: 10;
}

body main #history {
  width: 40%;
  background-color: #F2EFE6;
  position: relative;
  text-align: left;
  display: -ms-grid;
  display: grid;
  height: auto;
}

body main #experiencedetails {
  width: 60%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 50px;
  position: relative;
  color: white;
  height: auto;
}

body main .contact {
  background-color: red;
  display: block;
  margin-bottom: 35px;
  height: auto;
}

body main #contactdetails {
  background-color: #F2EFE6;
  display: block;
  text-align: right;
  height: auto;
  text-align: center;
}

body #footer {
  background-color: white;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-left: 25px;
}
/*# sourceMappingURL=style.css.map */