$bordercolor: #f2f2f2;
$bgcolor: #F2EFE6;
$boxcolor1:#d3000a;
$textcolor: black;
$primaryfont: Montserrat;
$secondaryfont: Lato;
$font3: Libre Baskerville;

@mixin phone {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 501px) and (max-width: 960px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 961px) {
        @content;
    }
}